
.main{
  min-width: 60vw;
  height: 90vh;
  background-size: cover;
  position: relative;
  .main-img{
    width: 60vw;
    height: 85vh;
  }
  .price{
    font-size: 55px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    color:yellow;
  }
}

