
.main{
  min-width: 60vw;
  height: 90vh;
  background-size: cover;
  position: relative;
  .main-img{
    width: 60vw;
    height: 85vh;
  }
  .price{
    font-size: 55px;
    position: absolute;
    bottom: 100px;
    left: 40px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background:rgba(0, 0, 0, 0.741);
    padding: 10px;
    border-radius: 10px;
    display: none;
  }
}

