<div class="main">
  <div class="header">
    <img src="assets/logo.png" class="icon" />
  </div>
  <div class="container open-hours">
    <div>

      <strong>10</strong> am
    </div>
    <div>
      <strong>10</strong> pm
    </div>
  </div>
  <div class="container">

    <div class="description">
      <h1>Description</h1>
      <p>Mediterranean cuisine offers authentic meals at this restaurant. Many people come to W Resto-Lounge to try a tasty parfait. Gracious staff await customers throughout the year. Friendly service is always a pleasure. A pleasant atmosphere awaits you in this place.</p>
    </div>
    <div class="location">
      <img src="assets/map.jpg">

    </div>

  </div>
  <div class="container info">
      <div>
        <p>Route Touristique El Kantaoui</p>
        <p>en Face du Kiosque AGIL 4000</p>
        <p>Sousse, Tunisie</p>
      </div>

      <div class="phonenumber">
        <label>phonenumber</label>
        <p>+21694525422</p>
      </div>
      <div class="email">
        <label>Email</label>
        <p>thespacerestolounge@gmail.com</p>
      </div>
  </div>
</div>
