<nav>
  <app-nav-bar [is-home-page]="false" ></app-nav-bar>
</nav>
<div class="main">

  <div class="container">
    <div class="form">
      <h1>WRITE TO US</h1>
      <div class="_group">
        <input type="text" placeholder="YOUR NAME"/>
      </div>
      <div class="_group">
        <input type="text" placeholder="YOUR EMAIL"/>
      </div>
      <div class="_group">
        <input type="text" placeholder="YOUR CELL PHONE"/>
      </div>
      <div class="_group">
        <textarea placeholder="YOUR MESSAGE"></textarea>
      </div>
      <div class="_group">
        <button>SUBMIT</button>
      </div>
    </div>

    <div class="contact-info">
      <h1>CALL FOR BOOK</h1>
      <div class="f">
        <img src="assets/map1.jpg">
        <div>
          <h3>LOCATION</h3>
          <p>Route Touristique El Kantaoui</p>
          <p>en Face du Kiosque AGIL 4000</p>
          <p><strong>Sousse, Tunisie</strong></p>

        </div>
      </div>
      <div class="opening">
        <div>
          <h3>OPEN AT</h3>
          <p *ngIf="information?.length">{{information[0].openAt | date:"HH:mm"}}</p>
        </div>
        <div>
          <h3>CLOSE AT</h3>
          <p *ngIf="information?.length">{{information[0].closeAt | date:"HH:mm"}}</p>
        </div>
      </div>
      <div class="info">
        <div class="phonenumber">
          <label>phonenumber</label>
          <p *ngIf="information?.length">+216{{information[0].phoneNumber}}</p>
        </div>
        <div class="email">
          <label>Email</label>
          <p *ngIf="information?.length">{{information[0].email}}</p>
        </div>
      </div>

    </div>

  </div>

<!--
  <div class="container open-hours">
    <div>

      <strong>10</strong> am
    </div>
    <div>
      <strong>10</strong> pm
    </div>
  </div>
  <div class="container">

    <div class="description">
      <h1>Description</h1>
      <p>Mediterranean cuisine offers authentic meals at this restaurant. Many people come to W Resto-Lounge to try a tasty parfait. Gracious staff await customers throughout the year. Friendly service is always a pleasure. A pleasant atmosphere awaits you in this place.</p>
    </div>
    <div class="location">
      <img src="assets/map.jpg">

    </div>

  </div>
  <div class="container info">
      <div>
        <p>Route Touristique El Kantaoui</p>
        <p>en Face du Kiosque AGIL 4000</p>
        <p>Sousse, Tunisie</p>
      </div>

      <div class="phonenumber">
        <label>phonenumber</label>

      </div>
      <div class="email">
        <label>Email</label>
      </div>
  </div>
</div> -->
