.main{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;

  >img{
    width: 24.7vw;
    height:24.7vw;
  }
}

h1{
  @import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

  font-family: 'Kirang Haerang', cursive;
  font-size: 60px;
  text-align: center;
  margin-bottom: 50px;
}
h3{

  font-size: 20px;
    text-align: center;
    font-family: 'Kirang Haerang', cursive;
    margin-block: 50px;
}
