<div class="table">
<img src="assets/table/table.jpeg" />
<div class="table-place table-1">
  <img src="assets/table/table_1.png" class="table-place-img">
</div>
<div class="table-place table-2">
  <img src="assets/table/table_2.png" class="table-place-img">
</div>
<div class="table-place table-3">
  <img src="assets/table/table_3.png" class="table-place-img">
</div>
<div class="table-place table-4">
  <img src="assets/table/table_1.png" class="table-place-img">
</div>
<div class="table-place table-5">
  <img src="assets/table/table_1.png" class="table-place-img">
</div>
<div class="table-place table-6">
  <img src="assets/table/table_1.png" class="table-place-img">
</div>
<div class="table-place table-7">
  <img src="assets/table/table_1.png" class="table-place-img">
</div>
</div>
