<!-- <app-book-table-modal  (on-close)="onCloseModel()"></app-book-table-modal> -->

<div class="container">
  <h1>Our week events</h1>
  <h3  >"Nothing will work unless you do "  </h3>
  <div class="event-items">
    <div class="event-item" *ngFor="let event of events">
      <div class="img-container">
        <img [src]="baseurl+'/images/'+event.image" class="img-event"/>
        <div class="black"></div>
        <button (click)="showBookTable(event.id)">reserver</button>
      </div>
      <div class="event-detail">
        <h3>{{event.name}}</h3>
        <p [outerHTML]="event.description"></p>
        <div class="date-event">{{event.starAt | date}}</div>
      </div>
    </div>
  </div>

</div>

