<div class="main-main">
  <h1>OUR MENU</h1>
  <h3>Enjoy a complete food experience</h3>
  <div class="main">
  <div class="container-main-div">
    <app-dish-main [img-name]="imgname" [price]="price"></app-dish-main>
  </div>
  <div class="dish-items">
    <div *ngFor="let dish of dishes">
    <app-dish-item
    (on-clicked)="setDish($event)"
    [img-name]="BASEURL+'/images/'+dish.image"
    [price]="dish.price" [title]="dish.name"
    [description]="dish.description"
    ></app-dish-item>
    </div>
    <!-- <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish2.jpg" price="1321" title="Breakfast" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish3.jpg" price="125010" title="Eggs" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish1.jpg" price="12500" title="title name" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish2.jpg" price="12500" title="title name" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish3.jpg" price="12500" title="title name" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish1.jpg" price="12500" title="title name" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish2.jpg" price="12500" title="title name" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div>
    <app-dish-item (on-clicked)="setDish($event)" img-name="assets/dish3.jpg" price="12500" title="title name" description="lorem description slksqdf hlly Cousouss"></app-dish-item>
    </div>
    <div> -->

  </div>
</div>
</div>
