<!-- <app-carrasol></app-carrasol> -->
<app-nav-bar
  (on-nav-reservation)="scrollInto(events)"
  (on-nav-menu)="scrollInto(menu)"
  (on-nav-gallery)="scrollInto(gallery)"
></app-nav-bar>


<div class="card-container">
  <app-header-card
    title="Get Inspired
    "
    img-name="assets/enjoy-eatingpng.jpg"
    description="Keep your face always toward the sunshine and shadows will fall behind you"
  ></app-header-card>
  <app-header-card
    title="Fresh Tech Insights"
    img-name="assets/enjoy-eatingpng.jpg"

    description="Do a reservation and you are with us , we made it so easy to you

    "
  ></app-header-card>
  <app-header-card
    title="Global Event"
    img-name="assets/enjoy-eatingpng.jpg"

    description="We do our best to bring you the best bands and events every week"
  ></app-header-card>
  <app-header-card
    title="Fast answers
    "
    img-name="assets/enjoy-eatingpng.jpg"

    description="We analyse and we call you back as soon as possible , dont worry"
  ></app-header-card>
</div>


<div class="menu-container" #events>
  <!-- <app-menu></app-menu> -->
  <app-events-block></app-events-block>
  <div class="menu" #menu>
    <app-menu></app-menu>
  </div>
  <div class="menu-mobile">
    <app-menu-mobile></app-menu-mobile>
  </div>
  <div #gallery>
  <app-gallery></app-gallery>
  </div>
  <app-contact-us></app-contact-us>
</div>

<router-outlet></router-outlet>
