<!-- <app-carrasol></app-carrasol> -->
<app-nav-bar
  (on-nav-reservation)="scrollInto(events)"
  (on-nav-menu)="scrollInto(menu)"
  (on-nav-gallery)="scrollInto(gallery)"
></app-nav-bar>


<div class="card-container">
  <app-header-card
    title="ENJOY EATING"
    img-name="assets/enjoy-eatingpng.jpg"
    description="A small river named Duden flows by their place and supplies it with the necessary regelialia."
  ></app-header-card>
  <app-header-card
    title="FRESH SEA FOODS"
    img-name="assets/enjoy-eatingpng.jpg"

    description="A small river named Duden flows by their place and supplies it with the necessary regelialia."
  ></app-header-card>
  <app-header-card
    title="CUP OF COFFEES"
    img-name="assets/enjoy-eatingpng.jpg"

    description="A small river named Duden flows by their place and supplies it with the necessary regelialia"
  ></app-header-card>
  <app-header-card
    title="MEAT EATERS"
    img-name="assets/enjoy-eatingpng.jpg"

    description="A small river named Duden flows by their place and supplies it with the necessary regelialia."
  ></app-header-card>
</div>


<div class="menu-container" #events>
  <!-- <app-menu></app-menu> -->
  <app-events-block></app-events-block>
  <div class="menu" #menu>
    <app-menu></app-menu>
  </div>
  <div class="menu-mobile">
    <app-menu-mobile></app-menu-mobile>
  </div>
  <div #gallery>
  <app-gallery></app-gallery>
  </div>
  <app-contact-us></app-contact-us>
</div>

<router-outlet></router-outlet>
