.book-table-main{
  position: fixed;
  background:#111;
  z-index: 4000;
  height: 80vh;
  width: 100vw;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  display: flex;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    width:100%;
    height: 100%;
    left:0px; top:0px;
    transform: translate(0%, 0%);
  }
  img{

    width: 40vw;
    height: 80vh;
    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 200px;
    }
  }

  .form{
    padding-block: 20px;
    width: 100%;
    padding:25px;
    // background:red;
    h1{
      color:#fff;
      font-size: 40px;
    }
    h3{
      color:#aaa;
      font-size: 14px;
      margin-top: -15px;
    }
    input, textarea{
      background:transparent;
      border:none;
      border-bottom: 1px solid #eee;
      padding: 10px;
      color:#eee;
      outline: none;
      font-size: 15px;
      width: 250px;
    @media only screen and (max-width: 600px) {
      width: 200px;
    }
    }
    button{
      background:red;
      color:#fff;
      width: 200px;
      height: 45px;
      border:none;
      border-radius: 5px;
      font-weight: bold;
      letter-spacing: 2px;
      @media only screen and (max-width: 600px) {
        margin-top: 20px;
      }
    }
    ._col{
      display: flex;
      align-items: flex-end;
      height: 100px;
      justify-content: space-between;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        // background:yellow;
      }
      // background:yellow;

    }
  }

}

.black{
  background: rgba($color: #000000, $alpha: .7);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top:0px;
}


.back{
  position: fixed;
  left:20px;
  top:20px;
  z-index: 10000;
  width: 25px;
  height: 30px;
  fill: white;
  background:black;
  border-radius: 60px;
  padding:6px;
}
