<nav>
  <div class="container">
    <div>
      <img src="assets/logo.png" class="logo" />
    </div>
    <div>
      <ul>
        <li class="active">Home</li>
        <li>Reservation</li>
        <li>Menu</li>
        <li>Events</li>
        <li>Gallery</li>
        <li>Contact-us</li>
      </ul>
    </div>
  </div>
  <div class="msg-hello">
    <h1>Welcome To Your Webisete</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.?
    </p>
    <button class="btn">Reserver</button>
  </div>



</nav>
<div class="card-container">
  <app-header-card
    title="ENJOY EATING"
    img-name="assets/enjoy-eatingpng.jpg"
    description="A small river named Duden flows by their place and supplies it with the necessary regelialia."
  ></app-header-card>
  <app-header-card
    title="FRESH SEA FOODS"
    img-name="assets/enjoy-eatingpng.jpg"

    description="A small river named Duden flows by their place and supplies it with the necessary regelialia."
  ></app-header-card>
  <app-header-card
    title="CUP OF COFFEES"
    img-name="assets/enjoy-eatingpng.jpg"

    description="A small river named Duden flows by their place and supplies it with the necessary regelialia"
  ></app-header-card>
  <app-header-card
    title="MEAT EATERS"
    img-name="assets/enjoy-eatingpng.jpg"

    description="A small river named Duden flows by their place and supplies it with the necessary regelialia."
  ></app-header-card>
</div>
