@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&display=swap');

.main{
  background:#fff;
  color:#eee;
  padding: 20px;
  border-top: 2px solid red;
  .container{
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  .logo{
    h1{
      font-family: 'Kirang Haerang', cursive;
      font-size: 55px;
    }
    svg{
      width: 100px;
      fill: white;
      path{
        fill:red;
      }
    }
  }
  .form{
    display: flex;
    height: 200px;
    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }
    >div{
      display: flex;
      flex-direction: column;
      height: 150px;
      margin-top: 20px;
      justify-content: space-between;
      @media only screen and (max-width: 600px) {
        height: auto;
        margin:auto;
      }
    }
    input, textarea{
      min-width: 250px;
      border:none;
      padding: 7px;
      font-size: 14px;
      border-radius: 5px;
      outline: none;
      border:1px solid #ccc;
      @media only screen and (max-width: 600px) {
        max-width: 300px;
        margin-bottom: 10px !important;
      }
      &:focus{
        border:1px solid rgba(255, 0, 0, 0.507);
      }
    }
    textarea{
      height: 150px;
      margin: 20px;
      width: 300px;
      @media only screen and (max-width: 600px) {
        height: 300px;
        width: auto;
        margin:auto;
      }
    }
    button{
      border:none;
      border-radius: 5px;
      font-weight: bold;
      height: 45px;
      background-color: red;
        color:#fff;
      &:hover{
        color:#000;
        background-color: transparent;
        border:1px solid red;
        color:red;
      }
    }
  }
}
